name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y cmake g++ build-essential

      - name: Build
        run: |
          cmake . -B build
          cmake --build build

      - name: Tests
        run: |
          cd build/lib
          ./dywoqstl_lib_tests

          cd ../runtime
          ./dywoqstl_runtime_tests
